- content_for(:title) do
  Echo: #{t("echo.start.title")}

#notice
#app

Role: 
- Test.create('blah')
= Test.reload.first.nil? ? "No db" : Test.reload.first.name

:javascript
  $(function() {
    Echo.init();
  });
