- content_for(:title) do
  Echo: #{t("echo.start.title")}

#notice
#app

Role: 
- TestModel.create('blah')
= TestModel.reload.first.nil? ? "No db" : TestModel.reload.first.name

:javascript
  $(function() {
    Echo.init();
  });
